{% extends 'polls/base.html' %}

{% block content %}

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            <li><a href="{{ question.get_absolute_url }}">{{ question.question_text }} - This URL is overrided with pub_date at the end</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% endblock %}
